@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 10vw 5vw;
  background-color: #f5f6fa;
}

img {
  height: 20px;
  width: 20px;
}

.panel-bg {
  background-color: white;
  padding: 1rem;
  border-bottom: 2px solid #f2f3f7;
  z-index: 1000;
  border-radius: 5px;
}

#title {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

#author {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#but {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#newbook {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

#test {
  margin-top: 0;
  padding-top: 20px;
}

#Chapter {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#ChapterNr {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  height: 1.313rem;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}

#ButtonFont {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  color: #f5f6fa;
}

#submitbutton {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  color: #f5f6fa;
}

#divider {
  display: flex;
  border-left: 2px solid #f2f3f7;
}

#categories {
  color: grey;
}
